# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Virtual environment
venv/
.venv/
env/

# Spark
metastore_db/
spark-warehouse/
derby.log

# Project data/output
output/
*.parquet
*.crc
_SUCCESS

# Local files
.env
.DS_Store
.vscode/
.idea/

# Local evidences for final PDF
evidencias/
